<form nz-form nzLayout="vertical" id="form" [formGroup]="form" (wpxSubmit)="submit($event)">
  <nz-row [nzGutter]="16">
    <nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-label nzRequired i18n>名称</nz-form-label>
        <nz-form-control nzHasFeedback [nzAutoTips]="tips.name">
          <input nz-input type="text" formControlName="name" placeholder="请填写充值名称" i18n-placeholder />
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    <nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-label nzRequired i18n>充值金额</nz-form-label>
        <nz-form-control>
          <nz-input-number-group style="width: 100%" nzAddOnAfter="CN¥" i18n-nzAddOnAfter>
            <nz-input-number
              formControlName="pay"
              [nzStep]="1"
              [nzPrecision]="2"
              [nzPrecisionMode]="'cut'"
            ></nz-input-number>
          </nz-input-number-group>
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    <ng-container formGroupName="gift">
      <nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label nzRequired i18n>赠送积分</nz-form-label>
          <nz-form-control>
            <nz-input-number-group style="width: 100%" nzAddOnAfter="点" i18n-nzAddOnAfter>
              <nz-input-number
                formControlName="points"
                [nzStep]="1"
                [nzPrecision]="0"
                [nzPrecisionMode]="'cut'"
              ></nz-input-number>
            </nz-input-number-group>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label nzRequired i18n>赠送金额</nz-form-label>
          <nz-form-control>
            <nz-input-number-group style="width: 100%" nzAddOnAfter="CN¥" i18n-nzAddOnAfter>
              <nz-input-number
                formControlName="bonus"
                [nzStep]="1"
                [nzPrecision]="2"
                [nzPrecisionMode]="'cut'"
              ></nz-input-number>
            </nz-input-number-group>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </ng-container>
  </nz-row>

  <nz-form-item>
    <nz-form-label i18n>有效期</nz-form-label>
    <nz-form-control nzExtra="不设置表示永久有效" i18n-nzExtra>
      <nz-range-picker formControlName="valid_time"></nz-range-picker>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzRequired i18n>状态</nz-form-label>
    <nz-form-control>
      <nz-switch formControlName="status"></nz-switch>
    </nz-form-control>
  </nz-form-item>
</form>

<div *nzModalFooter>
  <button nz-button type="button" nzType="default" (click)="close()" i18n>取消</button>
  <button nz-button nzType="primary" form="form" [disabled]="!form.valid" i18n>提交</button>
</div>
