<nz-layout class="common-layout">
  <nz-sider class="nav" style="padding: 8px" nzWidth="240px" nzTheme="light">
    <nz-input-group [nzPrefix]="searchRef" style="width: 100%">
      <ng-template #searchRef>
        <span nz-icon nzType="search"></span>
      </ng-template>
      <input type="text" nz-input placeholder="方案搜索" [(ngModel)]="searchText" />
    </nz-input-group>

    <nz-divider style="margin: 8px 0"></nz-divider>

    <ul style="border: none" nz-menu>
      <li nz-menu-item nzMatchRouter [routerLink]="['/', app.shopId, 'marketing', 'all']">
        <span nz-icon nzType="folder-open"></span>
        <span>全部方案</span>
      </li>

      <li nz-menu-group nzTitle="折扣方案" i18n-nzTitle> <ul></ul> </li>
    </ul>
  </nz-sider>

  <nz-layout>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
