<nz-layout class="common-layout">
  <nz-sider class="nav" nzWidth="240px" nzTheme="light">
    <ul nz-menu nzMode="inline" style="border: none">
      <li nz-menu-group nzTitle="会员" i18n-nzTitle>
        <ul>
          <li nz-menu-item nzMatchRouter [routerLink]="['/', shopId, 'marketing', 'member', 'lists']">
            <span i18n>会员列表</span>
          </li>
          <li nz-menu-item nzMatchRouter [routerLink]="['/', shopId, 'marketing', 'member', 'benefits']">
            <span i18n>会员权益</span>
          </li>
          <li nz-menu-item nzMatchRouter [routerLink]="['/', shopId, 'marketing', 'member', 'upgrade']">
            <span i18n>如何升级</span>
          </li>
        </ul>
      </li>
      <li nz-menu-group nzTitle="活动" i18n-nzTitle>
        <ul>
          <li nz-menu-item>
            <span i18n>充值促销</span>
          </li>
          <li nz-menu-item>
            <span i18n>折扣方案</span>
          </li>
          <li nz-menu-item>
            <span i18n>优惠券</span>
          </li>
        </ul>
      </li>
      <li nz-menu-group nzTitle="设置" i18n-nzTitle>
        <ul>
          <li nz-menu-item>
            <span i18n>理由预设</span>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>

  <nz-layout class="inner-layout">
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
