<nz-page-header [nzGhost]="false">
  <nz-page-header-title i18n>会员升级</nz-page-header-title>
  <nz-page-header-subtitle>上次修改于 {{ time | date : 'yyyy-MM-dd HH:mm:ss' }}</nz-page-header-subtitle>
  <nz-page-header-extra>
    <nz-space>
      <ng-container *nzSpaceItem>
        <button nz-button nzType="primary" (click)="update()"> <i nz-icon nzType="check"></i> 更新 </button>
      </ng-container>
    </nz-space>
  </nz-page-header-extra>
</nz-page-header>

<div style="padding: 6px">
  <nz-card>
    <app-richtext [(ngModel)]="value"></app-richtext>
  </nz-card>
</div>
