<nz-page-header [nzGhost]="false">
  <nz-page-header-title i18n>
    <span *ngIf="typeDict[typeId!] as type; else allRef">{{ type.name }}</span>
    <ng-template #allRef><span>全部菜品</span></ng-template>
  </nz-page-header-title>

  <nz-page-header-tags *ngIf="typeDict[typeId!] as type">
    <ng-container *ngFor="let x of type.scopes">
      <nz-tag nzColor="blue">{{ types.scopeDict[x] }}</nz-tag>
    </ng-container>
    <ng-container *ngIf="type.period.enabled; else unlimitRef">
      <ng-container *ngFor="let x of type.period.rules">
        <nz-tag nzColor="blue">
          {{ x.name }} {{ x.value[0] | date : 'HH:mm' }}~{{ x.value[1] | date : 'HH:mm' }}
        </nz-tag>
      </ng-container>
    </ng-container>
    <ng-template #unlimitRef>
      <nz-tag nzColor="blue"> 全时段 </nz-tag>
    </ng-template>
  </nz-page-header-tags>

  <nz-page-header-extra>
    <nz-space>
      <ng-container *nzSpaceItem>
        <button nz-button nzType="primary" nzShape="circle" nz-tooltip="等级设置" i18n-nz-tooltip (click)="openTypes()">
          <span nz-icon nzType="setting"></span>
        </button>
      </ng-container>
      <ng-container *nzSpaceItem>
        <button nz-button nzType="primary" nzShape="circle" nz-dropdown [nzDropdownMenu]="addActionsMenu">
          <span nz-icon nzType="plus"></span>
        </button>
      </ng-container>
    </nz-space>

    <nz-dropdown-menu #addActionsMenu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item (click)="form()">菜品</li>
        <li nz-menu-item>套餐</li>
      </ul>
    </nz-dropdown-menu>
  </nz-page-header-extra>
  <nz-page-header-content>
    <nz-row nzJustify="space-between" nzAlign="bottom">
      <nz-col>
        <nz-space>
          <ng-container *nzSpaceItem>
            <nz-input-group style="width: 180px" nzSuffixIcon="search">
              <input
                (keyup.enter)="getData(true)"
                [(ngModel)]="searchText"
                type="text"
                nz-input
                placeholder="搜索"
                i18n-placeholder
              />
            </nz-input-group>
          </ng-container>
          <ng-container *nzSpaceItem>
            <nz-button-group>
              <button nz-button nzType="text" nz-tooltip="刷新" i18n-nz-tooltip (click)="getData(true)">
                <span nz-icon nzType="reload"></span>
              </button>
              <button nz-button nzType="text" nz-tooltip="重置" i18n-nz-tooltip (click)="clear()">
                <span nz-icon nzType="clear"></span>
              </button>
            </nz-button-group>
          </ng-container>
        </nz-space>
      </nz-col>
      <nz-col></nz-col>
      <nz-col>
        <span>共计 {{ ds.total }} 条记录</span>
      </nz-col>
    </nz-row>
  </nz-page-header-content>
</nz-page-header>

<nz-content style="padding: 6px">
  <nz-card>
    <nz-table
      #basicTable
      [nzFrontPagination]="false"
      [nzShowSizeChanger]="true"
      [nzHideOnSinglePage]="true"
      [nzLoading]="false"
      [nzData]="ds.values"
      [nzTotal]="ds.total"
      [(nzPageSize)]="ds.pagesize"
      [(nzPageIndex)]="ds.page"
      (nzPageIndexChange)="getData(false)"
      (nzPageSizeChange)="getData(true)"
    >
      <thead>
        <tr>
          <th
            nzWidth="60px"
            nzLeft
            nzAlign="center"
            [nzChecked]="ds.checked"
            [nzIndeterminate]="ds.indeterminate"
            (nzCheckedChange)="ds.setNChecked($event)"
          ></th>
          <th nzWidth="240px"><b>菜品名称</b></th>
          <th nzWidth="200px"><b>菜品分类</b></th>
          <th><b>功能</b></th>
          <th nzWidth="120px"><b>售价</b></th>
          <th nzWidth="120px"><b>会员价</b></th>
          <th nzWidth="120px"><b>状态</b></th>
          <th nzWidth="60px" nzRight nzAlign="center">
            <button nz-button nzType="text" nzBlock disabled>
              <span nz-icon nzType="setting"></span>
            </button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td
            nzLeft
            nzAlign="center"
            [nzDisabled]="data['disabled']"
            [nzChecked]="ds.checkedIds.has(data['_id'])"
            (nzCheckedChange)="ds.setChecked(data['_id'], $event)"
          ></td>
          <td>
            <nz-tag>{{ data['sn'] }}</nz-tag>
            {{ data['name'] }}
          </td>
          <td>
            <ng-container *ngIf="typeDict[data['type_id']] as v">
              {{ v.name }}
            </ng-container>
          </td>
          <td></td>
          <td>
            <ng-container *ngIf="data['price']; else noRef">
              {{ data['price'] | currency }}
            </ng-container>
          </td>
          <td>
            <ng-container *ngIf="data['vip'].enabled; else noRef">
              {{ data['vip']['price'] | currency }}
            </ng-container>
          </td>
          <td>
            <ng-container *ngIf="data['status']; else offRef">
              <nz-badge nzStatus="processing" nzText="上架"></nz-badge>
            </ng-container>
          </td>
          <td nzRight nzAlign="center">
            <button nz-button nzType="text" nz-dropdown [nzDropdownMenu]="menu">
              <span nz-icon nzType="ellipsis"></span>
            </button>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item i18n (click)="form(data)">编辑</li>
                <li nz-menu-item nzDanger i18n (click)="delete(data)">删除</li>
              </ul>
            </nz-dropdown-menu>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-card>
</nz-content>

<ng-template #noRef>-</ng-template>

<ng-template #offRef>
  <nz-badge nzStatus="error" nzText="下架"></nz-badge>
</ng-template>

<nz-alert
  *ngIf="ds.checkedNumber !== 0"
  class="banner"
  nzType="info"
  nzBanner
  nzMessage="批量"
  i18n-nzMessage
  [nzDescription]="descriptionRef"
  [nzAction]="bulkRef"
>
  <ng-template #descriptionRef>
    <span i18n> 已选中 {{ ds.checkedNumber }} 项 </span>
  </ng-template>
  <ng-template #bulkRef>
    <a nz-button nzType="link" nzSize="small" (click)="ds.clearChecked()" i18n>取消选择</a>
    <br />
    <a style="float: right" nz-button nzType="link" nzSize="small" nzDanger (click)="bulkDelete()" i18n> 删除 </a>
  </ng-template>
</nz-alert>
