<nz-layout class="common-layout">
  <nz-sider class="nav" style="padding: 8px" nzWidth="240px" nzTheme="light">
    <ul nz-menu style="border: none">
      <li nz-menu-group nzTitle="媒体库" i18n-nzTitle>
        <ul>
          <li nz-menu-item nzMatchRouter [routerLink]="['/', app.shopId, 'resources', 'media', 'pictures']">
            <span i18n>图片</span>
          </li>
          <li nz-menu-item nzMatchRouter [routerLink]="['/', app.shopId, 'resources', 'media', 'videos']">
            <span i18n>视频</span>
          </li>
        </ul>
      </li>
      <li nz-menu-group nzTitle="内容管理" i18n-nzTitle>
        <ul>
          <li nz-menu-item nzMatchRouter [routerLink]="['/', app.shopId, 'resources', 'articles', 'member-upgrade']">
            <span i18n>会员升级</span>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>

  <nz-layout>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
