<div style="height: 100%">
  <div class="header">
    <nz-row nzJustify="space-between">
      <nz-col>
        <nz-space [nzSplit]="split">
          <ng-template #split>
            <nz-divider nzType="vertical"></nz-divider>
          </ng-template>
          <ng-container *nzSpaceItem>
            <button nz-button nzType="text" (click)="openSidenav()">
              <span nz-icon nzType="appstore"></span>
            </button>
          </ng-container>
          <nz-breadcrumb *nzSpaceItem class="breadcrumb" nzAutoGenerate>
            <nz-breadcrumb-item *ngIf="app.shop as v">
              <a [routerLink]="['/', v._id]" i18n> {{ v.name }}</a>
            </nz-breadcrumb-item>
          </nz-breadcrumb>
        </nz-space>
      </nz-col>
      <nz-col> </nz-col>
      <nz-col>
        <div class="center" (click)="openProfile()">
          <ng-container *ngIf="app.user as u">
            <nz-badge nzDot>
              <ng-container *ngIf="!!u.avatar; else defaultAvatar">
                <nz-avatar nzShape="square" [nzSize]="25" [nzSrc]="[u.avatar] | wpxAssets"></nz-avatar>
              </ng-container>
              <ng-template #defaultAvatar>
                <nz-avatar nzShape="square" [nzSize]="25" nzIcon="user"></nz-avatar>
              </ng-template>
            </nz-badge>
            <span class="username">
              <ng-container *ngIf="!u.name; else name">
                {{ u.email | uppercase }}
              </ng-container>
              <ng-template #name>
                {{ u.name | uppercase }}
              </ng-template>
            </span>
          </ng-container>
        </div>
      </nz-col>
    </nz-row>
  </div>
  <router-outlet></router-outlet>
</div>

<ng-template #sidenavTitleRef>
  <nz-row nzJustify="space-between">
    <nz-col i18n>我的门店</nz-col>
    <nz-col></nz-col>
    <nz-col>
      <a routerLink="/settings" (click)="closeSidenav()" i18n> 设置 </a>
    </nz-col>
  </nz-row>
</ng-template>

<ng-template #profileTitleRef>
  <nz-row nzJustify="space-between">
    <nz-col><span i18n>个人中心</span></nz-col>
    <nz-col></nz-col>
    <nz-col>
      <button nz-button nzType="text" (click)="logout()" i18n> 退出系统 </button>
    </nz-col>
  </nz-row>
</ng-template>
