<div style="height: 100%">
  <div class="header">
    <nz-row nzJustify="space-between">
      <nz-col>
        <nz-space [nzSplit]="split">
          <ng-template #split>
            <nz-divider nzType="vertical"></nz-divider>
          </ng-template>
          <ng-container *nzSpaceItem>
            <button nz-button nzType="text" (click)="openSidenav()">
              <span nz-icon nzType="appstore"></span>
            </button>
          </ng-container>
          <nz-breadcrumb *nzSpaceItem class="breadcrumb" nzAutoGenerate>
            <nz-breadcrumb-item *ngIf="shop">
              <a [routerLink]="['/', shop._id]" i18n> {{ shop.name }}</a>
            </nz-breadcrumb-item>
          </nz-breadcrumb>
        </nz-space>
      </nz-col>
      <nz-col> </nz-col>
      <nz-col>
        <div class="center" (click)="openProfile()">
          <ng-container *ngIf="app.user as u">
            <nz-badge nzDot>
              <ng-container *ngIf="!!u.avatar; else defaultAvatar">
                <nz-avatar nzShape="square" [nzSize]="25" [nzSrc]="[u.avatar] | wpxAssets"></nz-avatar>
              </ng-container>
              <ng-template #defaultAvatar>
                <nz-avatar nzShape="square" [nzSize]="25" nzIcon="user"></nz-avatar>
              </ng-template>
            </nz-badge>
            <span class="username">
              <ng-container *ngIf="!u.name; else name">
                {{ u.email | uppercase }}
              </ng-container>
              <ng-template #name>
                {{ u.name | uppercase }}
              </ng-template>
            </span>
          </ng-container>
        </div>
      </nz-col>
    </nz-row>
  </div>
  <router-outlet></router-outlet>
</div>

<nz-drawer
  [nzTitle]="sidenavTitleRef"
  [nzVisible]="sidenavVisible"
  [nzClosable]="false"
  [nzPlacement]="'left'"
  (nzOnClose)="closeSidenav()"
>
  <ng-template #sidenavTitleRef>
    <nz-row nzJustify="space-between" nzAlign="middle">
      <nz-col>
        <nz-input-group style="width: 180px" nzSuffixIcon="search">
          <input
            type="text"
            nz-input
            placeholder="搜索"
            i18n-placeholder
            [(ngModel)]="sidenavSearchText"
            (keyup.enter)="getSidenavData()"
          />
        </nz-input-group>
      </nz-col>
      <nz-col></nz-col>
      <nz-col>
        <button nz-button nzType="text" i18n (click)="admin()"> 管理后台 </button>
      </nz-col>
    </nz-row>
  </ng-template>
  <ng-container *nzDrawerContent>
    <nz-list nzSize="large">
      <nz-list-item *ngFor="let v of sidenavData.values">
        <nz-list-item-meta [nzTitle]="v.name" [nzDescription]="v.address"> </nz-list-item-meta>
        <ul nz-list-item-actions>
          <nz-list-item-action>
            <a [routerLink]="['/', v._id]" (click)="closeSidenav()" i18n>进入</a>
          </nz-list-item-action>
        </ul>
      </nz-list-item>
      <nz-list-pagination>
        <nz-pagination
          [(nzPageIndex)]="sidenavData.page"
          [nzTotal]="sidenavData.total"
          [nzSize]="'small'"
        ></nz-pagination>
      </nz-list-pagination>
      <nz-list-empty *ngIf="sidenavData.total === 0"></nz-list-empty>
    </nz-list>
  </ng-container>
</nz-drawer>

<nz-drawer
  [nzWidth]="800"
  [nzTitle]="profileTitleRef"
  [nzVisible]="profileVisible"
  [nzClosable]="false"
  (nzOnClose)="closeProfile()"
>
  <ng-template #profileTitleRef>
    <nz-row nzJustify="space-between" nzAlign="middle">
      <nz-col><b i18n>个人中心</b></nz-col>
      <nz-col></nz-col>
      <nz-col>
        <button nz-button nzType="text" i18n (click)="logout()"> 退出系统 </button>
      </nz-col>
    </nz-row>
  </ng-template>
  <ng-container *nzDrawerContent>
    <nz-tabset style="height: 100%" nzTabPosition="left">
      <nz-tab nzTitle="基本信息" i18n-nzTitle>
        <nz-card *ngIf="app.user as user">
          <nz-list nzSize="large" nzItemLayout="vertical">
            <nz-list-item>
              <nz-list-item-meta>
                <nz-list-item-meta-title><b i18n>电子邮件</b></nz-list-item-meta-title>
                <nz-list-item-meta-description i18n> 已设置： {{ user.email }} </nz-list-item-meta-description>
              </nz-list-item-meta>
              <nz-list-item-extra>
                <button
                  nz-button
                  nzType="primary"
                  nzShape="circle"
                  nz-tooltip="编辑"
                  i18n-nz-tooltip
                  (click)="setEmail()"
                >
                  <i nz-icon nzType="edit"></i>
                </button>
              </nz-list-item-extra>
            </nz-list-item>
            <nz-list-item>
              <nz-list-item-meta>
                <nz-list-item-meta-title><b i18n>称呼</b></nz-list-item-meta-title>
                <nz-list-item-meta-description>
                  <ng-container *ngIf="!!user.name; else emptyNameTpl" i18n> 已设置： {{ user.name }} </ng-container>
                  <ng-template #emptyNameTpl>
                    <span i18n>推荐设置工作称呼或真实姓名</span>
                  </ng-template>
                </nz-list-item-meta-description>
              </nz-list-item-meta>
              <nz-list-item-extra>
                <button
                  nz-button
                  nzType="primary"
                  nzShape="circle"
                  nz-tooltip="编辑"
                  i18n-nz-tooltip
                  (click)="setName()"
                >
                  <i nz-icon nzType="edit"></i>
                </button>
              </nz-list-item-extra>
            </nz-list-item>
            <nz-list-item>
              <nz-list-item-meta>
                <nz-list-item-meta-title><b i18n>头像</b></nz-list-item-meta-title>
                <nz-list-item-meta-description i18n> 推荐采用尺寸 256*256 </nz-list-item-meta-description>
              </nz-list-item-meta>
              <ng-container *ngIf="!!user.avatar; else emptyAvatarTpl">
                <nz-avatar nzShape="square" [nzSize]="128" [nzSrc]="[user.avatar] | wpxAssets"></nz-avatar>
              </ng-container>
              <ng-template #emptyAvatarTpl>
                <nz-avatar nzShape="square" [nzSize]="128" nzIcon="user"></nz-avatar>
              </ng-template>
              <nz-list-item-extra>
                <button
                  nz-button
                  nzType="primary"
                  nzShape="circle"
                  nz-tooltip="编辑"
                  i18n-nz-tooltip
                  (click)="setAvatar()"
                >
                  <i nz-icon nzType="edit"></i>
                </button>
              </nz-list-item-extra>
            </nz-list-item>
            <nz-list-item>
              <nz-list-item-meta>
                <nz-list-item-meta-title><b i18n>详情</b></nz-list-item-meta-title>
                <nz-list-item-meta-description>
                  <nz-descriptions [nzColumn]="2">
                    <nz-descriptions-item nzTitle="创建时间" i18n-nzTitle>
                      {{ user.create_time | date : 'yyyy-MM-dd HH:mm:ss' }}
                    </nz-descriptions-item>
                    <nz-descriptions-item nzTitle="更新时间" i18n-nzTitle>
                      {{ user.update_time | date : 'yyyy-MM-dd HH:mm:ss' }}
                    </nz-descriptions-item>
                    <nz-descriptions-item nzTitle="累计会话" i18n-nzTitle>
                      <span i18n>
                        已累计登录 <b> {{ user.sessions }} </b> 次
                      </span>
                    </nz-descriptions-item>
                    <nz-descriptions-item *ngIf="user.history as history" nzTitle="登录于" i18n-nzTitle>
                      {{ history.timestamp | date : 'yyyy-MM-dd HH:mm:ss' }}
                    </nz-descriptions-item>
                    <nz-descriptions-item *ngIf="user.history as history" nzTitle="IP" [nzSpan]="2">
                      <b>[ {{ history.client_ip }} ]</b>
                    </nz-descriptions-item>
                    <nz-descriptions-item nzTitle="地区ISP" i18n-nzTitle [nzSpan]="2">
                      <nz-space *ngIf="user.history as history" [nzSplit]="spaceSplit">
                        <ng-template #spaceSplit>
                          <nz-divider nzType="vertical"></nz-divider>
                        </ng-template>
                        <span *nzSpaceItem>{{ !history.country ? '未知' : history.country }}</span>
                        <span *nzSpaceItem>{{ !history.province ? '未知' : history.province }}</span>
                        <span *nzSpaceItem>{{ !history.city ? '未知' : history.city }}</span>
                        <span *nzSpaceItem>{{ !history.isp ? '未知' : history.isp }}</span>
                      </nz-space>
                    </nz-descriptions-item>
                  </nz-descriptions>
                </nz-list-item-meta-description>
              </nz-list-item-meta>
            </nz-list-item>
          </nz-list>
        </nz-card>
      </nz-tab>
      <nz-tab nzTitle="安全设置" i18n-nzTitle>
        <nz-card *ngIf="app.user as user">
          <nz-list nzSize="large" nzItemLayout="vertical">
            <nz-list-item>
              <nz-list-item-meta>
                <nz-list-item-meta-title><b i18n>账户密码</b></nz-list-item-meta-title>
                <nz-list-item-meta-description i18n>
                  建议采用大写字母、小写字母、数字和特殊字符（@$!%*?&-+）组合的密码
                </nz-list-item-meta-description>
              </nz-list-item-meta>
              <nz-list-item-extra>
                <button
                  nz-button
                  nzType="primary"
                  nzShape="circle"
                  nz-tooltip="编辑"
                  i18n-nz-tooltip
                  (click)="setPassword()"
                >
                  <i nz-icon nzType="edit"></i>
                </button>
              </nz-list-item-extra>
            </nz-list-item>
            <nz-list-item>
              <nz-list-item-meta>
                <nz-list-item-meta-title><b i18n>备用邮箱</b></nz-list-item-meta-title>
                <nz-list-item-meta-description>
                  <ng-container *ngIf="!!user.backup_email; else emailEmptyTpl">
                    已设置： {{ user.backup_email }}
                  </ng-container>
                  <ng-template #emailEmptyTpl>
                    <span i18n> 未设置备用邮箱，主要用于恢复账号安全相关操作，建议采用个人邮箱 </span>
                  </ng-template>
                </nz-list-item-meta-description>
              </nz-list-item-meta>
              <nz-list-item-extra>
                <button
                  nz-button
                  nzType="primary"
                  nzShape="circle"
                  nz-tooltip="编辑"
                  i18n-nz-tooltip
                  (click)="setBackupEmail()"
                >
                  <i nz-icon nzType="edit"></i>
                </button>
              </nz-list-item-extra>
            </nz-list-item>
          </nz-list>
        </nz-card>
      </nz-tab>
    </nz-tabset>
  </ng-container>
</nz-drawer>
