<nz-layout class="common-layout">
  <nz-sider class="nav" nzWidth="240px" nzTheme="light">
    <nz-input-group [nzPrefix]="searchRef" style="width: 100%">
      <ng-template #searchRef>
        <span nz-icon nzType="search"></span>
      </ng-template>
      <input
        type="text"
        nz-input
        placeholder="分类搜索"
        i18n-placeholder
        [(ngModel)]="searchText"
        (keyup.enter)="getTypes()"
      />
    </nz-input-group>

    <nz-divider></nz-divider>

    <ul nz-menu>
      <li nz-menu-item nzMatchRouter [routerLink]="['/', app.shopId, 'menu', 'all']">
        <span nz-icon nzType="folder-open"></span>
        <span>全部菜品</span>
      </li>
      <li nz-menu-group [nzTitle]="typesTitle">
        <ng-template #typesTitle>
          分类导航
          <span nz-icon nzType="info-circle" nz-tooltip="【右键】操作【拖拽】排序"></span>
        </ng-template>
        <ul cdkDropList (cdkDropListDropped)="sort($event)">
          <ng-container *ngFor="let item of typeItems">
            <li
              cdkDrag
              nz-menu-item
              nzMatchRouter
              [routerLink]="['/', app.shopId, 'menu', item._id]"
              (contextmenu)="actions($event, menu, item._id)"
            >
              <div class="placeholder" *cdkDragPlaceholder>
                <span nz-icon nzType="holder"></span>
                <span>{{ item.name }}</span>
              </div>
              <span cdkDragHandle nz-icon nzType="holder"></span> <span>{{ item.name }}</span>
            </li>
          </ng-container>
        </ul>
      </li>
    </ul>
  </nz-sider>

  <nz-layout>
    <router-outlet></router-outlet>
  </nz-layout>
</nz-layout>

<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu *ngIf="typeDict[actionId!] as data">
    <li nz-menu-item [nzSelected]="false">
      <span>{{ data.name }}</span>
    </li>
    <li nz-menu-divider></li>
    <li nz-menu-item (click)="form(data)">编辑</li>
    <li nz-menu-item nzDanger (click)="delete(data)">删除</li>
  </ul>
</nz-dropdown-menu>
