<form nz-form nzLayout="vertical" id="form" [formGroup]="form" (wpxSubmit)="submit($event)">
  <nz-row [nzGutter]="16">
    <nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-label nzRequired i18n>等级名称</nz-form-label>
        <nz-form-control nzHasFeedback [nzAutoTips]="tips.name">
          <input nz-input type="text" formControlName="name" placeholder="请填写等级名称" i18n-placeholder />
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    <nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-label nzRequired i18n>权重</nz-form-label>
        <nz-form-control nzHasFeedback [nzAutoTips]="tips.weights">
          <nz-input-number
            style="width: 100%"
            formControlName="weights"
            [nzMin]="0"
            [nzStep]="1"
            [nzPrecision]="0"
            nzPrecisionMode="cut"
            nzPlaceHolder="请填写等级权重"
          ></nz-input-number>
        </nz-form-control>
      </nz-form-item>
    </nz-col>
  </nz-row>

  <nz-row [nzGutter]="16">
    <ng-container formGroupName="points">
      <nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label nzRequired i18n>初始积分</nz-form-label>
          <nz-form-control nzExtra="等级初始赠送的积分" i18n-nzExtra [nzAutoTips]="tips.initial">
            <nz-input-number-group style="width: 100%" nzAddOnAfterIcon="thunderbolt">
              <nz-input-number
                formControlName="initial"
                [nzMin]="0"
                [nzStep]="1"
                [nzPrecision]="2"
                [nzPrecisionMode]="'cut'"
              ></nz-input-number>
            </nz-input-number-group>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label nzRequired i18n>等级积分</nz-form-label>
          <nz-form-control nzExtra="升级所需要兑换的积分" i18n-nzExtra [nzAutoTips]="tips.upgrade">
            <nz-input-number-group style="width: 100%" nzAddOnAfterIcon="thunderbolt">
              <nz-input-number
                formControlName="upgrade"
                [nzMin]="0"
                [nzStep]="1"
                [nzPrecision]="2"
                [nzPrecisionMode]="'cut'"
              ></nz-input-number>
            </nz-input-number-group>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
      <nz-col [nzSpan]="12">
        <nz-form-item>
          <nz-form-label nzRequired i18n>消费积分</nz-form-label>
          <nz-form-control nzExtra="获得 1 积分所需消费的金额" i18n-nzExtra [nzAutoTips]="tips.earn">
            <nz-input-number-group style="width: 100%" nzAddOnAfter="CN¥" i18n-nzAddOnAfter>
              <nz-input-number
                formControlName="earn"
                [nzMin]="0"
                [nzStep]="1"
                [nzPrecision]="2"
                [nzPrecisionMode]="'cut'"
              ></nz-input-number>
            </nz-input-number-group>
          </nz-form-control>
        </nz-form-item>
      </nz-col>
    </ng-container>
    <nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-label nzRequired i18n>折扣</nz-form-label>
        <nz-form-control [nzAutoTips]="tips.discount">
          <nz-input-number-group style="width: 100%" nzAddOnAfterIcon="percentage">
            <nz-input-number
              formControlName="discount"
              [nzMin]="0"
              [nzStep]="1"
              [nzPrecision]="2"
              [nzPrecisionMode]="'cut'"
            ></nz-input-number>
          </nz-input-number-group>
        </nz-form-control>
      </nz-form-item>
    </nz-col>
  </nz-row>
</form>

<div *nzModalFooter>
  <button nz-button type="button" nzType="default" (click)="close()" i18n>取消</button>
  <button nz-button nzType="primary" form="form" [disabled]="!form.valid" i18n>提交</button>
</div>
