<form *ngIf="form" nz-form nzLayout="vertical" id="form" [formGroup]="form" (wpxSubmit)="submit($event)">
  <nz-row [nzGutter]="24">
    <nz-col [nzSpan]="15">
      <nz-row [nzGutter]="12">
        <nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label nzRequired i18n>
              <span style="padding-right: 12px">名称</span>
              <label nz-checkbox formControlName="signature">招牌菜</label>
              <label nz-checkbox formControlName="recommend">推荐菜</label>
            </nz-form-label>
            <nz-form-control nzHasFeedback [nzAutoTips]="tips.name">
              <input nz-input formControlName="name" placeholder="请输入菜品名称" i18n-placeholder />
            </nz-form-control>
          </nz-form-item>
        </nz-col>
        <nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label nzRequired i18n>分类</nz-form-label>
            <nz-form-control nzHasFeedback>
              <nz-select formControlName="type_id" nzPlaceHolder="请选择菜品分类" i18n-nzPlaceHolder>
                <ng-container *ngFor="let item of typeItems">
                  <nz-option [nzLabel]="item.name" [nzValue]="item._id"></nz-option>
                </ng-container>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </nz-col>
      </nz-row>

      <nz-form-item>
        <nz-form-label i18n>介绍</nz-form-label>
        <nz-form-control nzHasFeedback>
          <textarea
            formControlName="introduction"
            rows="4"
            nz-input
            placeholder="描述一段话..."
            i18n-placeholder
          ></textarea>
        </nz-form-control>
      </nz-form-item>

      <nz-row [nzGutter]="12">
        <nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label nzRequired i18n>
              <span style="padding-right: 12px">价格</span>
              <label nz-checkbox>时价菜</label>
              <label nz-checkbox>称重</label>
            </nz-form-label>
            <nz-form-control>
              <nz-input-number-group style="width: 100%" nzAddOnAfter="元" i18n-nzAddOnAfter>
                <nz-input-number
                  formControlName="price"
                  [nzMin]="0"
                  [nzStep]="1"
                  [nzPrecision]="2"
                  [nzPrecisionMode]="'cut'"
                ></nz-input-number>
              </nz-input-number-group>
            </nz-form-control>
          </nz-form-item>
        </nz-col>
        <nz-col [nzSpan]="12">
          <nz-form-item formGroupName="vip">
            <nz-form-label i18n>
              <label nz-checkbox formControlName="enabled"> 会员价 </label>
            </nz-form-label>
            <nz-form-control>
              <nz-input-number-group style="width: 100%" nzAddOnAfter="元" i18n-nzAddOnAfter>
                <nz-input-number
                  formControlName="price"
                  [nzMin]="0"
                  [nzStep]="1"
                  [nzPrecision]="2"
                  [nzPrecisionMode]="'cut'"
                  [nzDisabled]="!vipEnabled.value"
                ></nz-input-number>
              </nz-input-number-group>
            </nz-form-control>
          </nz-form-item>
        </nz-col>
        <nz-col [nzSpan]="12">
          <nz-form-item>
            <nz-form-label i18n>成本价</nz-form-label>
            <nz-form-control>
              <nz-input-number-group style="width: 100%" nzAddOnAfter="元" i18n-nzAddOnAfter>
                <nz-input-number
                  formControlName="cost"
                  [nzMin]="0"
                  [nzStep]="1"
                  [nzPrecision]="2"
                  [nzPrecisionMode]="'cut'"
                ></nz-input-number>
              </nz-input-number-group>
            </nz-form-control>
          </nz-form-item>
        </nz-col>
        <nz-col [nzSpan]="5">
          <nz-form-item>
            <nz-form-label i18n>提成</nz-form-label>
            <nz-form-control>
              <nz-input-number-group style="width: 100%" nzAddOnAfter="%" i18n-nzAddOnAfter>
                <nz-input-number formControlName="commission" [nzMin]="0" [nzStep]="1" [nzMax]="100"></nz-input-number>
              </nz-input-number-group>
            </nz-form-control>
          </nz-form-item>
        </nz-col>
        <nz-col [nzSpan]="7">
          <nz-form-item>
            <nz-form-label i18n>起购数</nz-form-label>
            <nz-form-control>
              <nz-input-number-group nzAddOnAfter="个" i18n-nzAddOnAfter>
                <nz-input-number
                  formControlName="minimum_quantity"
                  [nzMin]="0"
                  [nzStep]="1"
                  [nzPrecision]="0"
                  [nzPrecisionMode]="'cut'"
                ></nz-input-number>
              </nz-input-number-group>
            </nz-form-control>
          </nz-form-item>
        </nz-col>
      </nz-row>

      <nz-table [nzFrontPagination]="false" [nzShowPagination]="false" nzTemplateMode>
        <thead>
          <tr>
            <th>
              <div style="padding: 3px 0"> <span nz-icon nzType="paper-clip"></span> 适用范围 </div>
            </th>
            <th nzRight nzWidth="120px"><span nz-icon nzType="rise"></span> 服务费率</th>
            <th nzRight nzWidth="120px"><span nz-icon nzType="rise"></span> 税率</th>
          </tr>
        </thead>
        <tbody>
          <tr formGroupName="dine">
            <td> <label nz-checkbox formControlName="enabled">堂食</label> </td>
            <td>
              <nz-input-number
                formControlName="service"
                nzBorderless
                [nzMin]="0"
                [nzStep]="1"
                [nzFormatter]="formatterPercent"
                [nzDisabled]="!dineEnabled.value"
              ></nz-input-number>
            </td>
            <td>
              <nz-input-number
                formControlName="tax"
                nzBorderless
                [nzMin]="0"
                [nzStep]="1"
                [nzFormatter]="formatterPercent"
                [nzDisabled]="!dineEnabled.value"
              ></nz-input-number>
            </td>
          </tr>
          <tr formGroupName="snack">
            <td> <label nz-checkbox formControlName="enabled">快餐</label> </td>
            <td>
              <nz-input-number
                formControlName="service"
                nzBorderless
                [nzMin]="0"
                [nzStep]="1"
                [nzFormatter]="formatterPercent"
                [nzDisabled]="!takeoutEnabled.value"
              ></nz-input-number>
            </td>
            <td>
              <nz-input-number
                formControlName="tax"
                nzBorderless
                [nzMin]="0"
                [nzStep]="1"
                [nzFormatter]="formatterPercent"
                [nzDisabled]="!takeoutEnabled.value"
              ></nz-input-number>
            </td>
          </tr>
          <tr formGroupName="takeout">
            <td> <label nz-checkbox formControlName="enabled">外卖</label> </td>
            <td>
              <nz-input-number
                formControlName="service"
                nzBorderless
                [nzMin]="0"
                [nzStep]="1"
                [nzFormatter]="formatterPercent"
                [nzDisabled]="!takeoutEnabled.value"
              ></nz-input-number>
            </td>
            <td>
              <nz-input-number
                formControlName="tax"
                nzBorderless
                [nzMin]="0"
                [nzStep]="1"
                [nzFormatter]="formatterPercent"
                [nzDisabled]="!takeoutEnabled.value"
              ></nz-input-number>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </nz-col>
    <nz-col [nzSpan]="9">
      <nz-form-item>
        <nz-form-label nzRequired i18n>编码 / 简码</nz-form-label>
        <nz-form-control>
          <nz-input-group nzCompact>
            <input style="width: 50%" nz-input formControlName="sn" placeholder="请输入编码" i18n-placeholder />
            <input style="width: 50%" nz-input formControlName="sn" placeholder="请输入简码" i18n-placeholder />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label i18n>菜谱图</nz-form-label>
        <nz-form-control>
          <wpx-upload-avatar
            wpxExt="image"
            formControlName="logo"
            [wpxAccept]="['image/jpeg', 'image/png']"
            [wpxFallback]="['assets', 'photon.svg'] | wpxAssets"
          >
          </wpx-upload-avatar>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item formGroupName="preorder">
        <nz-form-label i18n>
          <label nz-checkbox formControlName="enabled">开台预点</label>
        </nz-form-label>
        <nz-form-control>
          <nz-space>
            <nz-radio-group *nzSpaceItem formControlName="way" [nzDisabled]="!preorderEnabled.value">
              <label nz-radio [nzValue]="1">按顾客人数</label>
              <label nz-radio [nzValue]="2">固定数量</label>
            </nz-radio-group>
            <nz-input-number-group *nzSpaceItem nzAddOnAfter="个" i18n-nzAddOnAfter>
              <nz-input-number
                formControlName="quantity"
                [nzMin]="0"
                [nzStep]="1"
                [nzPrecision]="0"
                [nzDisabled]="!preorderEnabled.value || preorderWay.value !== 2"
              ></nz-input-number>
            </nz-input-number-group>
          </nz-space>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label i18n>禁止打折</nz-form-label>
        <nz-form-control>
          <nz-switch formControlName="discount"></nz-switch>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzRequired i18n>状态</nz-form-label>
        <nz-form-control>
          <nz-switch formControlName="status"></nz-switch>
        </nz-form-control>
      </nz-form-item>
    </nz-col>
  </nz-row>
</form>

<div *nzModalFooter>
  <button nz-button type="button" nzType="default" (click)="close()" i18n>取消</button>
  <button nz-button nzType="primary" form="form" [disabled]="!form.valid" i18n>提交</button>
</div>
