<nz-page-header [nzGhost]="false">
  <nz-page-header-title i18n>视频</nz-page-header-title>
  <nz-page-header-tags>
    <ng-container *ngTemplateOutlet="view.tagSearchRef"></ng-container>
  </nz-page-header-tags>
  <nz-page-header-extra>
    <nz-space>
      <ng-container *nzSpaceItem>
        <ng-container *ngTemplateOutlet="view.uploadRef"></ng-container>
      </ng-container>
      <ng-container *nzSpaceItem>
        <button
          nz-button
          nzType="primary"
          nzShape="circle"
          nz-tooltip="设置标签"
          i18n-nz-tooltip
          (click)="view.tagsRef.open()"
        >
          <i nz-icon nzType="tags"></i>
        </button>
      </ng-container>
    </nz-space>
  </nz-page-header-extra>
  <nz-page-header-content>
    <nz-row nzJustify="space-between" nzAlign="bottom">
      <nz-col>
        <ng-container *ngTemplateOutlet="view.searchRef"></ng-container>
      </nz-col>
      <nz-col></nz-col>
      <nz-col>
        <span *ngIf="view">共计 {{ view.ds?.total }} 个元素</span>
      </nz-col>
    </nz-row>
  </nz-page-header-content>
</nz-page-header>

<div style="padding: 6px; height: calc(100% - 84px)">
  <app-videos #view></app-videos>
</div>

<nz-alert class="banner" nzBanner nzType="info" [nzMessage]="uploadInfoRef" nzCloseable>
  <ng-template #uploadInfoRef>
    上传不超出 {{ (wpx.upload | async)?.limit | nzBytes : 0 : 'KB' }}，支持 mp4 文件类型的上传
  </ng-template>
</nz-alert>

<ng-container *ngIf="view.ds as ds">
  <nz-alert
    *ngIf="ds.checkedNumber !== 0"
    class="banner"
    nzType="info"
    nzBanner
    nzMessage="批量"
    i18n-nzMessage
    [nzDescription]="descriptionRef"
    [nzAction]="bulkRef"
  >
    <ng-template #descriptionRef>
      <span i18n> 已选中 {{ ds.checkedNumber }} 项 </span>
    </ng-template>
    <ng-template #bulkRef>
      <a nz-button nzType="link" nzSize="small" (click)="ds.clearChecked()" i18n>取消选择</a>
      <br />
      <a style="float: right" nz-button nzType="link" nzSize="small" nzDanger (click)="view.mediaRef.bulkDelete()" i18n>
        删除
      </a>
    </ng-template>
  </nz-alert>
</ng-container>
