<nz-layout class="common-layout">
  <!--  <nz-page-header [nzGhost]="false" nzTitle="总览" i18n-nzTitle nzSubtitle="统计与观测" i18n-nzSubtitle>-->
  <!--    <nz-page-header-footer>-->
  <!--      <nz-tabset nzLinkRouter>-->
  <!--        <nz-tab>-->
  <!--          <a *nzTabLink nz-tab-link [routerLink]="['/index', 'overview', 'dashboard']" i18n> 营业概况 </a>-->
  <!--        </nz-tab>-->
  <!--        <nz-tab>-->
  <!--          <a *nzTabLink nz-tab-link [routerLink]="['/index', 'overview', 'journal']" i18n> 流水账 </a>-->
  <!--        </nz-tab>-->
  <!--        <nz-tab>-->
  <!--          <a *nzTabLink nz-tab-link [routerLink]="['/index', 'overview', 'report']" i18n> 理由报表 </a>-->
  <!--        </nz-tab>-->
  <!--      </nz-tabset>-->
  <!--    </nz-page-header-footer>-->
  <!--  </nz-page-header>-->

  <nz-content style="padding: 8px">
    <router-outlet></router-outlet>
  </nz-content>
</nz-layout>
