<form nz-form nzLayout="vertical" id="form" [formGroup]="form" (wpxSubmit)="submit($event)">
  <nz-row [nzGutter]="16">
    <nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-label nzRequired i18n>编号</nz-form-label>
        <nz-form-control nzHasFeedback [nzAutoTips]="tips.sn">
          <input nz-input type="text" formControlName="sn" placeholder="请填写理由编号" i18n-placeholder />
        </nz-form-control>
      </nz-form-item>
    </nz-col>
    <nz-col [nzSpan]="12">
      <nz-form-item>
        <nz-form-label nzRequired i18n>类别</nz-form-label>
        <nz-form-control>
          <nz-select formControlName="category" nzPlaceHolder="请选择理由类别" i18n-nzPlaceHolder>
            <ng-container *ngFor="let item of categoryMap | keyvalue">
              <nz-option [nzLabel]="item.value" [nzValue]="item.key"></nz-option>
            </ng-container>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </nz-col>
  </nz-row>

  <nz-form-item>
    <nz-form-label nzRequired i18n>内容</nz-form-label>
    <nz-form-control nzHasFeedback [nzAutoTips]="tips.content">
      <textarea formControlName="content" rows="3" nz-input placeholder="描述理由内容..." i18n-placeholder></textarea>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label nzRequired i18n>状态</nz-form-label>
    <nz-form-control>
      <nz-switch formControlName="status"></nz-switch>
    </nz-form-control>
  </nz-form-item>
</form>

<div *nzModalFooter>
  <button nz-button type="button" nzType="default" (click)="close()" i18n>取消</button>
  <button nz-button nzType="primary" form="form" [disabled]="!form.valid" i18n>提交</button>
</div>
