<nz-layout class="common-layout">
  <nz-sider class="nav" nzWidth="240px" nzTheme="light">
    <ul nz-menu nzMode="inline" style="border: none">
      <li nz-menu-group nzTitle="菜单" i18n-nzTitle>
        <ul>
          <li nz-menu-item nzMatchRouter [routerLink]="['/', app.shopId, 'ordering', 'menu', 'dishes']">
            <span i18n>菜品管理</span>
          </li>
          <li nz-menu-item nzMatchRouter [routerLink]="['/', app.shopId, 'ordering', 'menu', 'packages']">
            <span i18n>套餐管理</span>
          </li>
          <li nz-menu-item nzMatchRouter [routerLink]="['/', app.shopId, 'ordering', 'menu', 'methods']">
            <span i18n>做法与口味</span>
          </li>
        </ul>
      </li>
      <li nz-menu-group nzTitle="策略" i18n-nzTitle>
        <ul>
          <li nz-menu-item nzMatchRouter [routerLink]="['/', app.shopId, 'ordering', 'strategy', 'categories']">
            <span i18n>统计种类</span>
          </li>
          <li nz-menu-item nzMatchRouter [routerLink]="['/', app.shopId, 'ordering', 'strategy', 'markups']">
            <span i18n>菜品加价</span>
          </li>
          <li nz-menu-item nzMatchRouter [routerLink]="['/', app.shopId, 'ordering', 'strategy', 'periods']">
            <span i18n>时段排序</span>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>

  <nz-layout>
    <router-outlet></router-outlet>
  </nz-layout>
</nz-layout>
