<form *ngIf="form" nz-form nzLayout="vertical" id="form" [formGroup]="form" (wpxSubmit)="submit($event)">
  <nz-form-item>
    <nz-form-label nzRequired i18n>所属餐厅</nz-form-label>
    <nz-form-control nzHasFeedback [nzAutoTips]="tips.restaurant">
      <nz-select formControlName="restaurant_id" nzPlaceHolder="请选择所属餐厅" i18n-nzPlaceHolder>
        <ng-container *ngFor="let item of restaurantItems">
          <nz-option [nzValue]="item._id" [nzLabel]="item.name"></nz-option>
        </ng-container>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzRequired i18n>名称</nz-form-label>
    <nz-form-control nzHasFeedback [nzAutoTips]="tips.name">
      <input nz-input formControlName="name" placeholder="请输入区位名称" i18n-placeholder />
    </nz-form-control>
  </nz-form-item>
  <ng-container formGroupName="tea">
    <nz-form-item>
      <nz-form-label i18n>茶水费</nz-form-label>
      <nz-form-control>
        <nz-input-number-group nzAddOnAfter="元 / 位" i18n-nzAddOnAfter>
          <nz-input-number
            formControlName="fee"
            [nzMin]="0"
            [nzStep]="1"
            [nzPrecision]="2"
            [nzPrecisionMode]="'cut'"
          ></nz-input-number>
        </nz-input-number-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label i18n>茶水服务率</nz-form-label>
      <nz-form-control>
        <nz-input-number-group nzAddOnAfter="%" i18n-nzAddOnAfter>
          <nz-input-number formControlName="service" [nzMin]="0" [nzStep]="1" [nzMax]="100"></nz-input-number>
        </nz-input-number-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label i18n>茶水税率</nz-form-label>
      <nz-form-control>
        <nz-input-number-group nzAddOnAfter="%" i18n-nzAddOnAfter>
          <nz-input-number formControlName="tax" [nzMin]="0" [nzStep]="1" [nzMax]="100"></nz-input-number>
        </nz-input-number-group>
      </nz-form-control>
    </nz-form-item>
  </ng-container>

  <nz-form-item>
    <nz-form-label nzRequired i18n>状态</nz-form-label>
    <nz-form-control>
      <nz-switch formControlName="status"></nz-switch>
    </nz-form-control>
  </nz-form-item>
</form>

<div *nzModalFooter>
  <button nz-button type="button" nzType="default" (click)="close()" i18n>取消</button>
  <button nz-button nzType="primary" form="form" [disabled]="!form.valid" i18n>提交</button>
</div>
