.cdk-drag-preview {
  display: none;
}

.cdk-drag-animating {
  transition: transform 0.2s cubic-bezier(0, 0, 0.2, 1);
}

.placeholder {
  box-sizing: border-box;
  border: 1px dashed #d9d9d9;
  height: 32px;
  line-height: 32px;
  padding: 0 16px 0 28px;
  transition: transform 0.2s cubic-bezier(0, 0, 0.2, 1);

  span[nz-icon] {
    margin-right: 8px;
  }
}
