<nz-layout class="common-layout">
  <nz-sider class="nav" style="padding: 8px" nzWidth="240px" nzTheme="light">
    <nz-input-group [nzPrefix]="searchRef" style="width: 100%">
      <ng-template #searchRef>
        <span nz-icon nzType="search"></span>
      </ng-template>
      <input type="text" nz-input placeholder="搜索" [(ngModel)]="searchText" />
    </nz-input-group>

    <nz-divider style="margin: 8px 0"></nz-divider>

    <ul style="border: none" nz-menu>
      <li nz-menu-item nzMatchRouter [routerLink]="['/', app.shopId, 'home', 'overview']">
        <span nz-icon nzType="shop"></span>
        <span>门店概况</span>
      </li>
      <li nz-menu-item nzMatchRouter [routerLink]="['/', app.shopId, 'home', 'booking']">
        <span nz-icon nzType="carry-out"></span>
        <span>预定餐台</span>
      </li>
      <li nz-menu-group nzTitle="点餐服务">
        <ul>
          <li nz-menu-item nzMatchRouter [routerLink]="['/', app.shopId, 'home', 'ordering', 'snack']">
            <span>快餐订单</span>
          </li>
          <li nz-menu-item nzMatchRouter [routerLink]="['/', app.shopId, 'home', 'ordering', 'takeout']">
            <span>外卖订单</span>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>

  <nz-layout>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
