<nz-layout class="common-layout">
  <nz-sider class="nav" style="padding: 8px" nzWidth="240px" nzTheme="light">
    <nz-input-group [nzPrefix]="searchRef" style="width: 100%">
      <ng-template #searchRef>
        <span nz-icon nzType="search"></span>
      </ng-template>
      <input type="text" nz-input placeholder="搜索" [(ngModel)]="searchText" />
      <button nzSize="small" nz-button nzType="text" nz-dropdown [nzDropdownMenu]="actionsMenu">
        <span nz-icon nzType="ellipsis"></span>
      </button>
    </nz-input-group>
    <nz-dropdown-menu #actionsMenu="nzDropdownMenu">
      <ul nz-menu nzSelectable>
        <li nz-menu-item>刷新</li>
        <li nz-menu-item>新增区位</li>
      </ul>
    </nz-dropdown-menu>

    <nz-divider style="margin: 8px 0"></nz-divider>
  </nz-sider>

  <nz-layout class="inner-layout">
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
