<nz-layout class="common-layout">
  <nz-sider class="nav" style="padding: 8px" nzWidth="240px" nzTheme="light">
    <nz-input-group [nzPrefix]="searchRef" style="width: 100%">
      <ng-template #searchRef>
        <span nz-icon nzType="search"></span>
      </ng-template>
      <input
        type="text"
        nz-input
        placeholder="等级搜索"
        i18n-placeholder
        [(ngModel)]="searchText"
        (keyup.enter)="getLevels()"
      />
    </nz-input-group>

    <nz-divider style="margin: 8px 0"></nz-divider>

    <ul style="border: none" nz-menu>
      <li nz-menu-item nzMatchRouter [routerLink]="['/', app.shopId, 'membership', 'all']">
        <span nz-icon nzType="folder-open"></span>
        <span>全部</span>
      </li>
      <li nz-menu-item nzMatchRouter [routerLink]="['/', app.shopId, 'membership', 'levels']">
        <span nz-icon nzType="unordered-list"></span>
        <span>等级列表</span>
      </li>

      <li nz-menu-group [nzTitle]="levelsTitle">
        <ng-template #levelsTitle>
          等级导航
          <span nz-icon nzType="info-circle" nz-tooltip="【右键】操作【拖拽】排序"></span>
        </ng-template>
        <ul cdkDropList (cdkDropListDropped)="sort($event)">
          <ng-container *ngFor="let item of levelItems">
            <li
              cdkDrag
              nz-menu-item
              nzMatchRouter
              [routerLink]="['/', app.shopId, 'membership', item._id]"
              (contextmenu)="actions($event, levelActionsMenu, item._id)"
            >
              <div class="placeholder" *cdkDragPlaceholder>
                <span nz-icon nzType="holder"></span>
                <span>{{ item.name }}</span>
              </div>
              <span cdkDragHandle nz-icon nzType="holder"></span>
              <span>{{ item.name }}</span>
            </li>
          </ng-container>
        </ul>
      </li>
    </ul>
  </nz-sider>

  <nz-layout class="inner-layout">
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>

<nz-dropdown-menu #levelActionsMenu="nzDropdownMenu">
  <ul nz-menu *ngIf="levelDict[actionId!] as data">
    <li nz-menu-item [nzSelected]="false">
      <span>{{ data.name }}</span>
    </li>
    <li nz-menu-divider></li>
    <li nz-menu-item (click)="form(data)">编辑</li>
    <li nz-menu-item nzDanger (click)="delete(data)">删除</li>
  </ul>
</nz-dropdown-menu>
