<wpx-quick
  [wpxApi]="levels"
  [wpxForm]="levelForm"
  [wpxHeaderCell]="[th0, th1, th2, th3]"
  [wpxCell]="[td0, td1, td2, td3]"
>
  <ng-template #th0>等级名称</ng-template>
  <ng-template #th1>初始积分</ng-template>
  <ng-template #th2>等级积分</ng-template>
  <ng-template #th3>折扣</ng-template>
  <ng-template #td0 let-data>{{ data.name }}</ng-template>
  <ng-template #td1 let-data>{{ data.points.initial }}</ng-template>
  <ng-template #td2 let-data>{{ data.points.upgrade }}</ng-template>
  <ng-template #td3 let-data>{{ data.discount }}</ng-template>
</wpx-quick>

<nz-layout class="common-layout">
  <nz-sider class="nav" style="padding: 8px" nzWidth="240px" nzTheme="light">
    <nz-input-group [nzPrefix]="searchRef" style="width: 100%">
      <ng-template #searchRef>
        <span nz-icon nzType="search"></span>
      </ng-template>
      <input type="text" nz-input placeholder="搜索" [(ngModel)]="searchText" />
      <button nzSize="small" nz-button nzType="text" nz-dropdown [nzDropdownMenu]="actionsMenu">
        <span nz-icon nzType="ellipsis"></span>
      </button>
    </nz-input-group>
    <nz-dropdown-menu #actionsMenu="nzDropdownMenu">
      <ul nz-menu nzSelectable>
        <li nz-menu-item>刷新</li>
        <li nz-menu-item (click)="levelsRef.open()">等级设置</li>
      </ul>
    </nz-dropdown-menu>

    <nz-divider style="margin: 8px 0"></nz-divider>

    <ul style="border: none" nz-menu>
      <li nz-menu-group nzTitle="设置">
        <ul>
          <li nz-menu-item nzMatchRouter [routerLink]="['/', app.shopId, 'membership', 'settings', 'recharge']">
            <span>优惠充值</span>
          </li>
          <li nz-menu-item nzMatchRouter [routerLink]="['/', app.shopId, 'membership', 'settings', 'points']">
            <span>积分配置</span>
          </li>
        </ul>
      </li>

      <ng-template #levelsTitle>
        会员等级
        <span nz-icon nzType="info-circle" nz-tooltip="【双击】编辑【拖拽】排序【右键】操作"></span>
      </ng-template>
      <li nz-menu-group [nzTitle]="levelsTitle">
        <ul>
          <li nz-menu-item nzMatchRouter [routerLink]="['/', app.shopId, 'membership', 'all']">
            <span nz-icon nzType="folder-open"></span>
            <span>全部</span>
          </li>
          <ng-container *ngFor="let item of levelItems">
            <li nz-menu-item nzMatchRouter [routerLink]="['/', app.shopId, 'membership', item._id]">
              <span nz-icon nzType="holder"></span>
              <span>{{ item.name }}</span>
            </li>
          </ng-container>
        </ul>
      </li>
    </ul>
  </nz-sider>

  <nz-layout class="inner-layout">
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
